Aachen/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Aachen/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Augsburg/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Augsburg/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Bielefeld/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Bielefeld/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Bremen/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Bremen/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Chemnitz/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Chemnitz/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Dresden/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Dresden/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Erfurt/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Erfurt/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Freiburg/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Freiburg/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Hamburg/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Hamburg/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Kiel/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Kiel/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Luebeck/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Luebeck/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Magdeburg/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Magdeburg/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Moenchengladbach/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Moenchengladbach/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Munich/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Munich/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Nuremberg/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Nuremberg/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Ruhrgebiet/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Ruhrgebiet/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
Stuttgart/*.pmtiles filter=lfs diff=lfs merge=lfs -text
Stuttgart/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
*.pmtiles filter=lfs diff=lfs merge=lfs -text
BonnCologne/*.pmtiles filter=lfs diff=lfs merge=lfs -text
BonnCologne/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
HalleLeipzig/*.pmtiles filter=lfs diff=lfs merge=lfs -text
HalleLeipzig/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
HannoverBraunschweig/*.pmtiles filter=lfs diff=lfs merge=lfs -text
HannoverBraunschweig/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
RheinMainNeckar/*.pmtiles filter=lfs diff=lfs merge=lfs -text
RheinMainNeckar/data/**/*.gz filter=lfs diff=lfs merge=lfs -text
